.container {
  width: 100%;
  font-size: 2em;
  margin-top: 0;
  background-color: transparent;
  color: #1b1b1b;
}

.title {
  display: flex;
  justify-content: center;
}

.about {
  display: flex;
  width: 100%;
  font-family: "NotoSans";
}

.about_btn:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.about_btn {
  background-color: transparent;
  color: #1b1b1b;
  border: none;
  position: relative;
  height: 2em;
  font-size: 2em;
  font-weight: bold;
  padding: 0;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
  margin: 0;
  margin-top: 1em;
}

.about_btn:hover {
  background: transparent;
  color: #1b1b1b;
}
.about_btn:before,
.about_btn:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #1b1b1b;
  transition: 400ms ease all;
}
.about_btn:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.about_btn:hover:before,
.about_btn:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

.psWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em;
  margin-bottom: 2em;
  z-index: 10;
}

.ps {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #1b1b1b;
  font-size: 0.8em;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  font-size: 1em;
  font-weight: bold;
  border: 1px solid #1b1b1b;
  border-radius: 2em;
  position: relative;
  margin: 0.5em;
  background-color: transparent;
  cursor: pointer;
  color: #1b1b1b;
}

.btn:hover {
  transform: scale(1.02);
  transition: 300ms ease-in-out;
}

.group {
  margin: 5em;
}

.aboutHeader {
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.github {
  display: flex;
  margin: 1em;
  justify-content: center;
}

.github img {
  width: 10em;
  height: 8em;
  line-height: 8em;
  max-width: 100%;
}

.github .description {
  display: flex;
  align-items: center;

  margin: 1em;
  padding: 0.5em;
}

.solved {
  display: flex;
  margin: 1em;
  justify-content: center;
}

.solved img {
  width: 10em;
  height: 8em;
  line-height: 8em;
  max-width: 100%;
}

.solved .description {
  display: flex;
  align-items: center;
  margin: 1em;
  padding: 0.5em;
}

.cs50 {
  display: flex;
  margin: 1em;
  justify-content: center;
}

.cs50 img {
  width: 10em;
  height: 8em;
  line-height: 8em;
  max-width: 100%;
}

.cs50 .description {
  display: flex;
  align-items: center;
  margin: 1em;
  padding: 0.5em;
}

.dreamcoding {
  display: flex;
  margin: 1em;
  justify-content: center;
}

.dreamcoding img {
  width: 10em;
  height: 8em;
  line-height: 8em;
  max-width: 100%;
}

.dreamcoding .description {
  display: flex;
  align-items: center;

  margin: 1em;
  padding: 0.5em;
}
