body {
  margin: 0;
  height: 40em;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40em;
  color: #eeeeee;
  margin: 0;
  position: relative;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

.title {
  color: #eeeeee;
  background-color: #000;
  font-size: 2em;
  z-index: 1;
  width: 22em;
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.05em solid #eeeeee;
  animation: typing 3s steps(20), cursor 1s steps(1) infinite;
}

.img {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 100%;
}

@media screen and (max-width: 800px) {
  .container {
    max-width: 100%;
    font-size: 0.6em;
  }
}
