.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60em;
  color: white;
  margin: 0;
  margin-bottom: 0;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

.title {
  margin-top: -5em;
  color: white;
  background-color: #000;
  font-size: 2.5em;
  z-index: 1;
  width: 22em;
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.05em solid white;
  animation: typing 3s steps(20), cursor 1s steps(1) infinite;
}

.img {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100vh;
}

@media screen and (max-width: 800px) {
  .container {
    max-width: 100%;
    font-size: 0.6em;
  }
}
