.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 40em;
  color: #eeeeee;
  margin: 0;
  position: relative;
  font-family: "NotoSans";
}

.titleWrap {
  margin-left: 5em;
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  color: #eeeeee;
  font-size: 5em;
  z-index: 1;
  margin: 0;
}

.img {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 100%;
}

.homePs {
  color: #eeeeee;
  z-index: 1;
  font-size: 1.5em;
}

@media screen and (max-width: 800px) {
  .container {
    max-width: 100%;
    font-size: 0.6em;
  }

  .title {
    width: 21em;
  }
}
