.container {
  width: 100%;
  font-size: 2em;
  margin-top: 0;
  font-family: "NotoSans";
  background: #1b1b1b;
  color: #eeeeee;
}

.title {
  display: flex;
  justify-content: center;
}

.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.skills_btn:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.skills_btn {
  background-color: transparent;
  color: #eeeeee;
  border: none;
  position: relative;
  height: 2em;

  font-size: 2em;
  font-weight: bold;
  padding: 0;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
  margin: 0;
  margin-top: 1.1em;
}

.skills_btn:hover {
  background: transparent;
  color: #eeeeee;
}
.skills_btn:before,
.skills_btn:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #eeeeee;
  transition: 400ms ease all;
}
.skills_btn:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.skills_btn:hover:before,
.skills_btn:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

.skill {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

.skill_category {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill_item {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 1em;
  padding: 1em;
  border-radius: 10%;
  transition: all 300ms ease-in;
}

.skill_item:hover {
  transform: scale(1.05);
}

.skill_icon {
  font-size: 5em;
}

.etc_icon {
  font-size: 2em;
}

.description {
  display: flex;
  justify-content: center;
}

/*  */

.skillset {
  display: flex;
  flex-direction: column;
  background-color: gray;
  margin: 10em;
  margin-top: 1em;
  margin-bottom: 2em;
  padding: 2em;
  padding-left: 1em;
}

.setting {
  display: flex;
  flex-direction: column;
  margin: 1em;
  margin-left: 1em;
}

.htmlBar {
  width: 100%;
  height: 5px;
  background-color: #eeeeee;
}

.htmlValue {
  width: 95%;
  height: 5px;
  background-color: #1b1b1b;
}
.cssBar {
  width: 100%;
  height: 5px;
  background-color: #eeeeee;
}

.cssValue {
  width: 85%;
  height: 5px;
  background-color: #1b1b1b;
}
.jsBar {
  width: 100%;
  height: 5px;
  background-color: #eeeeee;
}

.jsValue {
  width: 90%;
  height: 5px;
  background-color: #1b1b1b;
}
.reactBar {
  width: 100%;
  height: 5px;
  background-color: #eeeeee;
}

.reactValue {
  width: 80%;
  height: 5px;
  background-color: #1b1b1b;
}

/*  */
.etc1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 1em;
}
.etc2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 1em;
}

.etc_category1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
}
.etc_category2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 1em;
}

.etc_item {
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1em;
}
