.nav {
  position: fixed;
  height: 3em;
  width: 100%;
  top: 0;
  transition-timing-function: ease-in;
  transition: 0.5s;
  z-index: 100;
}

.nav_black {
  position: fixed;
  height: 3em;
  width: 100%;
  top: 0;
  transition-timing-function: ease-in;
  transition: 0.5s;
}

.pages {
  margin-top: 10em;
}
