.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

.project {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1b1b1b;
  background-color: #eeeeee;
  margin-top: 1em;
}

.project img {
  width: 18em;
  height: auto;
}

.description {
  margin: 1em;
}

.text {
  background-color: blueviolet;
  font-size: 0.8em;
}

.projectImg {
  margin: 1em;
}
