html {
  scroll-behavior: smooth;
  margin: 0;
}

@font-face {
  font-family: "NotoSans-KR";
  font-style: regular;
  src: url("styles/fonts/NotoSansKR-Regular.otf") format("otf"),
    url("styles/fonts/NotoSansKR-Regular.otf") format("otf"),
    url("styles/fonts/NotoSansKR-Regular.otf") format("truetype");
}

@font-face {
  font-family: "NotoSans-KR";
  font-style: medium;
  src: url("styles/fonts/NotoSansKR-Medium.otf") format("otf"),
    url("styles/fonts/NotoSansKR-Medium.otf") format("otf"),
    url("styles/fonts/NotoSansKR-Medium.otf") format("truetype");
}

@font-face {
  font-family: "NotoSans-KR";
  font-style: light;
  src: url("styles/fonts/NotoSansKR-Light.otf") format("otf"),
    url("styles/fonts/NotoSansKR-Light.otf") format("otf"),
    url("styles/fonts/NotoSansKR-Light.otf") format("truetype");
}

@font-face {
  font-family: "NotoSans-KR";
  font-weight: thin;
  src: url("styles/fonts/NotoSansKR-Thin.otf") format("otf"),
    url("styles/fonts/NotoSansKR-Thin.otf") format("otf"),
    url("styles/fonts/NotoSansKR-Thin.otf") format("truetype");
}
@font-face {
  font-family: "NotoSans-KR";
  font-weight: bold;
  src: url("styles/fonts/NotoSansKR-Bold.otf") format("otf"),
    url("styles/fonts/NotoSansKR-Bold.otf") format("otf"),
    url("styles/fonts/NotoSansKR-Bold.otf") format("truetype");
}
@font-face {
  font-family: "NotoSans-KR";
  src: url("styles/fonts/NotoSansKR-Black.otf") format("otf"),
    url("styles/fonts/NotoSansKR-Black.otf") format("otf"),
    url("styles/fonts/NotoSansKR-Black.otf") format("truetype");
}
