html {
  scroll-behavior: smooth;
  margin: 0;
}

@font-face {
  font-family: "NanumGothic KR";
  font-style: normal;
  font-weight: 100;
  src: url("styles/fonts/NanumGothicLight.woff2") format("woff2"),
    url("styles/fonts/NanumGothicLight.woff") format("woff"),
    url("styles/fonts/NanumGothicLight.otf") format("truetype");
}

@font-face {
  font-family: "NanumGothic KR";
  font-style: normal;
  font-weight: normal;
  src: url("styles/fonts/NanumGothic.woff2") format("woff2"),
    url("styles/fonts/NanumGothic.woff") format("woff"),
    url("styles/fonts/NanumGothic.otf") format("truetype");
}

@font-face {
  font-family: "NanumGothic KR";
  font-style: normal;
  font-weight: 500;
  src: url("styles/fonts/NanumGothicExtraBold.woff2") format("woff2"),
    url("styles/fonts/NanumGothicExtraBold.woff") format("woff"),
    url("styles/fonts/NanumGothicExtraBold.otf") format("truetype");
}

@font-face {
  font-family: "NanumGothic KR";
  font-style: normal;
  font-weight: bold;
  src: url("styles/fonts/NanumGothicBold.woff2") format("woff2"),
    url("styles/fonts/NanumGothicBold.woff") format("woff"),
    url("styles/fonts/NanumGothicBold.otf") format("truetype");
}
