html {
  scroll-behavior: smooth;
  margin: 0;
}

@font-face {
  font-family: "NotoSans";
  font-style: normal;
  src: url("styles/fonts/NotoSans-Regular.eot") format("eot"),
    url("styles/fonts/NotoSans-Regular.otf") format("truetype"),
    url("styles/fonts/NotoSans-Regular.woff") format("woff"),
    url("styles/fonts/NotoSans-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "NotoSans";
  font-style: medium;
  src: url("styles/fonts/NotoSans-Medium.eot") format("eot"),
    url("styles/fonts/NotoSans-Medium.otf") format("truetype"),
    url("styles/fonts/NotoSans-Medium.woff") format("woff"),
    url("styles/fonts/NotoSans-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "NotoSans";
  font-weight: light;
  src: url("styles/fonts/NotoSans-Light.eot") format("eot"),
    url("styles/fonts/NotoSans-Light.otf") format("truetype"),
    url("styles/fonts/NotoSans-Light.woff") format("woff"),
    url("styles/fonts/NotoSans-Light.woff2") format("woff2");
}
@font-face {
  font-family: "NotoSans";
  font-weight: bold;
  src: url("styles/fonts/NotoSans-Bold.eot") format("eot"),
    url("styles/fonts/NotoSans-Bold.otf") format("truetype"),
    url("styles/fonts/NotoSans-Bold.woff") format("woff"),
    url("styles/fonts/NotoSans-Bold.woff2") format("woff2");
}
