/* html, body {
  height: 100%;
} */

.topBtn:hover {
  color: gold;
  background-color: transparent;
  transform: translateY(-7px);
}

.wrap {
  position: relative;
  padding: 0;
}

.topBtn {
  position: fixed;
  cursor: pointer;
  background-color: transparent;
  color: gold;
  opacity: 0;
  bottom: 2em;
  right: 2em;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  border: 0 none;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  transition: all 0.3s ease 0s;
  outline: none;
}

.topBtn.active {
  z-index: 10;
  opacity: 1;
}

.topBtn:hover,
.topBtn:focus,
.topBtn:active {
  outline: 0 none;
}

.up {
  font-size: 2em;
}
