.container {
  width: 100%;
  font-size: 1.5em;
  font-weight: bold;

  margin: 1em;
  margin-top: 0;
  background: #1b1b1b;
  color: white;
}

.title {
  display: flex;
  justify-content: center;
}

.projects {
  display: flex;
  width: 100%;
}

.projects_btn:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.projects_btn {
  background-color: transparent;
  color: white;
  border: none;
  position: relative;
  height: 2em;

  font-size: 2em;
  font-weight: bold;
  padding: 0;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
  margin: 0;
  margin-top: 1em;
}

.projects_btn:hover {
  background: transparent;
  color: white;
}
.projects_btn:before,
.projects_btn:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: white;
  transition: 400ms ease all;
}
.projects_btn:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.projects_btn:hover:before,
.projects_btn:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

/* 카테고리 */

.categories {
  display: flex;
  justify-content: center;
  margin: 2em;
}

.category_btn {
  border: 1px solid darkmagenta;
  border-radius: 5em;
  padding: 1em 3em;
  position: relative;
}

.category_btn.selected,
.category_btn:hover {
  background-color: darkorchid;
  color: white;
}

.category_btn.selected .category_count,
.category_btn:hover .category_count {
  opacity: 1;
  top: 0.4em;
}

.category_count {
  background-color: violet;
  border-radius: 50%;
  color: white;
  width: 2em;
  height: 2em;
  line-height: 2em;
  display: inline-block;
  position: absolute;
  top: -1em;
  right: 0.5em;
  opacity: 0;
  transition: all 300ms ease-in;
}

.project_box {
  background: #1b1b1b;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all 300ms ease-out;
  margin: 1em;
  padding: 1em;
}

.project {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 15em;
  height: 14em;
  margin: 0.5em;
  background-color: lightgray;
  border-radius: 10%;
}

.project_img {
  max-width: 100%;
  max-height: 100%;
  align-self: center;
}

.project_description {
  position: absolute;
  background-color: #1b1b1b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(10px);
  transition: all 300ms ease-in;
  border-radius: 10%;
}

.project:hover .project_description {
  opacity: 0.8;
  transform: translateY(0px);
}

.project_description h3::after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  width: 50px;
  height: 2px;
  transform: translateX(-50%);
  margin-top: 8px;
  background-color: white;
}
